.pHandBox{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    background-image: url("../assets/metal.jpg");
    justify-content: center;
    display: inline-flex;
    margin-top: 40px;
}

.select-hand{  
    display: inline-flex;
    max-height: 350px;  
    box-sizing: border-box;
    margin-top: 15px;  
}

.player-hand{  
    display: inline-flex;
    justify-content: center;
    margin-top: 100px;    
}

.rock{
    display: inline-flex;
    align-self: center;
    min-width: 70px;
    min-height: 70px;
    background-color: rgba(255, 221, 74, 0.8);
    border-radius: 100%;   
}

.rock:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.47), 0 17px 50px 0 rgba(0,0,0,0.29);
}

.paper{
    align-self: flex-end;
    justify-content: space-around; 
    min-width: 70px;
    min-height: 70px;
    background-color: rgba(255, 221, 74, 0.8);
    border-radius: 100%;   
}

.paper:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.47), 0 17px 50px 0 rgba(0,0,0,0.29);
}

.scissors{
    display: inline-flex;
    justify-content: space-between; 
    min-width: 70px;
    height: 70px; 
    background-color: rgba(255, 221, 74, 0.8);
    border-radius: 100%;
}

.scissors:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.47), 0 17px 50px 0 rgba(0,0,0,0.29);
}

.lizard{
    align-self: flex-end; 
    justify-content: space-around;
    min-width: 70px;
    min-height: 70px;
    background-color: rgba(255, 221, 74, 0.8);
    border-radius: 100%;
}

.lizard:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.47), 0 17px 50px 0 rgba(0,0,0,0.29);
}

.spock{
    display: inline-flex;
    align-self: center;
    min-width: 70px;
    min-height: 70px;
    background-color: rgba(255, 221, 74, 0.8);
    border-radius: 100%;
}

.spock:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.47), 0 17px 50px 0 rgba(0,0,0,0.29);
}

.hand-img{
    max-width: 50px;
    max-height: 50px;
    margin: auto;
    margin-top: 10px;
}

.win-box{
    margin-top: 110px;
    font-size: 100px;
    color: rgb(253, 255, 252);
}






