@font-face {
  font-family: 'Trekker';
  src: url('./assets/Trekker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'Trekker';
  /* background-color: rgb(142, 154, 175) */
  background-image: url("./assets/bluespace.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(142, 154, 175);
  min-height: 100vh;


  /* height: 100%; */
  overflow: hidden;
}

